@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

body{
    
    background-color: #58514f;
    font-family: 'lato', sans-serif;
}

.container{
    width: 940px;
    margin: 20px auto;
    display: grid;
    grid-template-rows: 100px 300px 220PX 100px;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
}

header{
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    background-color: #34302e;
    
    font-size: 35px;
    display: grid;
    grid-template-rows: 100px;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
    color: #fff;
    font-weight: bolder;
    
}

nav{
    grid-column: 4 / -1;
    grid-row: 1 / -1;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(10, 100px);
    gap: 20px;
    
    align-items: center;

}
.logo{
    display: flex;
    grid-column: 1 / 4;
    grid-row: span 1;
    height: 100%;
    justify-content: center;
    align-items: center;
    
}

.headerTxt1{
    grid-column: 1/3;
    grid-row: span 1;
    
}
.headerTxt2{
    grid-column: 3/5;
    grid-row: span 1;
}
.headerTxt3{
    grid-column: 5/7;
    grid-row: span 1;
}
.headerTxt4{
    grid-column: 7/9;
    grid-row: span 1;
}

.logo img{
    height: 100px;
}

header nav div{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}




header div a{
    color: white;
    text-decoration: none;
    transition: 0.3s ease;
    
}


header nav div a:hover{
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
}


.content{
    grid-column: 1/-1;
    grid-row: 2/-2;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 300px 220px;
    gap: 20px;
    
}
.buying{
    grid-column: 1/-1;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 300px;
    gap: 20px;
    background-color: #34302e;
}

.productImg{
    grid-column: 1/7;
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.productImg img{
    border-radius: 20px;
    box-shadow: 0 0 20px 7px rgba(176, 106, 38, 0.53);
}
.description{
    grid-column: 7/-1;
    grid-row: 1/2;
    color: white;
    font-size: px;
    text-align: center;
    display: grid;
    grid-template-rows: 140px 140px;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
}
.name{
    grid-column: 1/5;
    grid-row: 1/2;
    font-size: 72px;
    align-self: center;
    padding-top: 20px;
    
}
.price{
    grid-column: 5/-1;
    grid-row: span 1;
    font-size: 60px;
    padding-top: 20px;
    
    align-self: center;
    text-align: center;
}

.buyingSpace{
    grid-column: 1/-1;
    grid-row: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buyingButton {
    align-items: center;
    appearance: none;
    background-clip: padding-box;
    background-color: initial;
    background-image: none;
    border-style: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    flex-direction: row;
    flex-shrink: 0;
    font-family: Eina01,sans-serif;
    font-size: 16px;
    font-weight: 800;
    justify-content: center;
    line-height: 24px;
    margin: 0;
    min-height: 64px;
    outline: none;
    overflow: visible;
    padding: 19px 26px;
    pointer-events: auto;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    width: auto;
    word-break: keep-all;
    z-index: 0;
  }
  
  @media (min-width: 768px) {
    .buyingButton {
      padding: 19px 32px;
    }
  }
  
  .buyingButton:before,
  .buyingButton:after {
    border-radius: 80px;
  }
  
  .buyingButton:before {
    background-image: linear-gradient(92.83deg, #e26f2d 0, #f97a13 100%);
    content: "";
    display: block;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -2;
  }
  
  .buyingButton:after {
    background-color: initial;
    background-image: linear-gradient(#54360f 0, #0c0d0d 100%);
    bottom: 4px;
    content: "";
    display: block;
    left: 4px;
    overflow: hidden;
    position: absolute;
    right: 4px;
    top: 4px;
    transition: all 100ms ease-out;
    z-index: -1;
  }
  
  .buyingButton:hover:not(:disabled):before {
    background: linear-gradient(92.83deg, rgb(255, 116, 38) 0%, rgb(249, 188, 19) 100%);
  }
  
  .buyingButton:hover:not(:disabled):after {
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    transition-timing-function: ease-in;
    opacity: 0;
  }
  
  .buyingButton:active:not(:disabled) {
    color: #ccc;
  }
  
  .buyingButton:active:not(:disabled):before {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
  }
  
  .buyingButton:active:not(:disabled):after {
    background-image: linear-gradient(#541a0f 0, #0c0d0d 100%);
    bottom: 4px;
    left: 4px;
    right: 4px;
    top: 4px;
  }
  
  .buyingButton:disabled {
    cursor: default;
    opacity: .24;
  }

.content .IMG{
    padding-top: 10px;
    grid-column: span 1;
    grid-row: span 1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content .IMG img{
    filter:  drop-shadow(0 0 0.8rem #bf8827);
    
}
.txt2{
    grid-row: span 1;
    grid-column: 2 / 4;
    background-color: #403d3a;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 120px 80px;
    gap: 20px;
    font-size: 25px;
    
}
p{
    margin: 0;
    padding: 0;
    grid-column: span 1;
    grid-row: 2/-1;
    display: flex;
    align-items: center;
    text-align: center;
    padding-bottom: 20px;
    color: white;
}
.img2 img{
    width: 60%;
}
.img4 img{
    width: 90%;
}
.txt3{
    grid-row: span 1;
    grid-column: span 2;
    background-color: #403d3a;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 120px 80px;
    gap: 20px;
    font-size: 25px;
}

.txt4{
    grid-row: span 1;
    grid-column: span 2;
    background-color: #403d3a;
    font-size: 24px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 120px 80px;
    gap: 20px;
}

.txt5{
    grid-row: span 1;
    grid-column: span 2;
    background-color: #403d3a;
    font-size: 22px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 120px 80px;
    gap: 20px;
}

.txt6{
    grid-row: span 1;
    grid-column: span 2;
    background-color: #403d3a;
    font-size: 21.5px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 120px 80px;
    gap: 20px;
}

footer{
    grid-row: -2/-1;
    grid-column: 1 / -1;
    background-color: #34302e;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: span 1;
    gap: 20px;
    color: white;
    font-size: 18px;
}
.footerColumn.first{
    grid-column: 2/4;
    grid-row: span 1;
}
.footerColumn.second{
    grid-column: 4/6;
    grid-row: span 1;
}
.footerColumn.third{
    grid-column: 6/8;
    grid-row: span 1;
}
.break{
    flex-basis: 100%;
    height: 0;
}
.footerColumn{
    text-align: center;
    display: flex;
    align-items: center;
}
footer a{
    color: white;
    text-decoration: none;
}
.footerTextInside{
    
    justify-content: center;
    width: 100%;
}
.socialMedia{
    grid-column: 9/12;
    grid-row: span 1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px;
    gap: 20px;
    
}

.facebook{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: span 1;
    grid-row: span 1;
    filter: drop-shadow(0 0 11px rgba(25, 119, 243, 0.5));
}

.instagram{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: span 1;
    grid-row: span 1;
    filter: drop-shadow(0 0 11px rgba(181, 45, 109, 0.5));
}
.tiktok{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: span 1;
    grid-row: span 1;
    filter: drop-shadow(0 0 11px rgba(71, 13, 26, 0.5));
}